<div>
  <h1>Autocomplete Input</h1>
  <h2>Basic implementation:</h2>
  <autocomplete-input selected-item='selectedItem' 
                      options='singleInputOptions'
                      items='availableItems' >
  </autocomplete-input>
  <h2>Multiple implementation:</h2>
  <autocomplete-input-multi selected-items='selectedItems'
  							items='multiInputItems'>
  </autocomplete-input-multi>
  <h2>Customised implementation:</h2>
  <autocomplete-input-multi selected-items='customisedSelectedItems'
                items='customisedItems'
                options='customisedOptions'>
  </autocomplete-input-multi>
</div>
