<div class='input-default clearfix' ng-keyup='onKeyup($event)' ng-click='containerClicked($event)'>
	<div class='aim-item aim-selected-item'
		 ng-class='{highlight: ($index === selectedItemPos)}'
		 ng-repeat='item in selectedItems'
		 prevent-default>
		<button class='aim-selected-item-btn-select btn-blank' type='button' ng-click='highlightSelectedItem($index)'>
			{{item.Name}}
		</button>
		<button class='aim-selected-item-btn-delete' type='button' ng-click='removeItem(item)'>&#10006</button>
	</div>
	<autocomplete-input class='aim-item input-blank'
						selected-item='selectedItem' 
	                    selected-item-text='selectedItemText' 
	                    items='availableItems' 
	                    options='autocompleteOptions'
	                    is-showing='isShowing'
	                    prop-name='Name' 
	                    placeholder='Select Item'
	                    select='addItem'>
	</autocomplete-input>
</div>