<div class='autocomplete-input-container dropdown' ng-class='{open: isShowing}' on-focus-changed='onFocused'>
    <input type='text' class='autocomplete-input'
           placeholder="{{placeholder}}"
           ng-keyup='onKeyup($event)'
           ng-model='selectedItemText'/>
    <ul class='ul-default dropdown-menu autocomplete-input-items'>
        <li class='li-default autocomplete-input-item' ng-repeat='item in filteredItems'>
            <button class='li-btn-main btn-default' ng-class='{highlight: ($index === highlightPos)}'
                    type='button' tabindex='-1'
                    ng-click='select(item)'>
                {{item[propName]}}
            </button>
        </li>
        <li class='li-footer autocomplete-input-item autocomplete-input-create'
            ng-show='!disableCreate && selectedItemText'>
            <label class='li-content li-content-title'>
                Create and Select:
            </label>
            <button class='li-default li-btn-main btn-default' ng-class='{highlight: noItems}'
                    type='button' tabindex='-1'
                    ng-click='createAndSelect(selectedItemText)'>
                {{selectedItemText}}
            </button>
        </li>
    </ul>
</div>